.div-login {
    width: 100%;
}

.div-login h4 {
    margin-bottom: 5px;
}

.div-login p {
    color: var(--white);
    margin-bottom: 10px;
}

.smallText {
    color: var(--white);
    font-size : 12px;
    text-decoration: none;
    width: 110px;
    display: inline-block;
    margin-bottom: 0;


}

.smallText:hover {
    color: var(--orange);
    cursor: pointer;
    display: inline-block;

}
