@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Global Typography
    3. Global Colors

////////////////////////////////////////////////////////////////////////*/

/*////////////////////////
    1. Global Styles
////////////////////////*/

/* CSS Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;


}

* {
    font-family: 'Montserrat', sans-serif;
}



/* Global Setup */


/*////////////////////////
    2. Global Typography
////////////////////////*/

h1, h2, h3, h4, h5, h6, p, accent{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

h1 {
    font-size: 48px
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

p {
    font-weight: 400;
    font-size: 16px;
}

accent {
    font-weight: 500;
    font-size: 16px;
}

quote {
    font-family: 'Lora', serif;
    font-style: italic;
    font-size: 96px;
    font-weight: 600;
}

/*////////////////////////
    2. Global Colors
////////////////////////*/

:root {
    --blue: #0052A3;
    --green: #4CAF50;
    --orange: #FFA500;
    --grey: #F2F2F2;
    --darkgrey: #A0A0A0;
    --black: #333333;
    --transparent: transparent;
    --white: #FFFFFF;
}


/*///////////////////////
    3. Global Form CSS
////////////////////// */

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}
form label {
    color: white;
    width: 100%;
}

form input{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: white;
    width: 100%;
    padding: 15px;
    background-color: var(--transparent);
    border-radius: 10px;
    border: solid 2px var(--white);
    margin-bottom: 10px;
    height: 60px;
}



form input:focus{
    outline: none;
}
